h1,
label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.edit-user__container {
    width: 80%;
    margin: auto;
}

.edit-user__form {
    padding: 40px 20px;
    border: 1px solid #dee2e6;
    border-radius: 20px;
}

.form__photo-container {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.form__photo {
    width: 300px;
    height: 400px;
}

.form__group {
    display: flex;
    justify-content: space-around;
}

.form__field {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.field__label {
    margin-bottom: 10px;
}

.field__input {
    margin-bottom: 5px;
}

.edit-user__button-container {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: end;
}

.edit-user__button {
    margin-left: 20px;
}